
/**
*this style sheet has been coded by christopher marinos for the assignment 6 in  Umass Lowell's GUI course christopher_marinos@student.uml.edu
**/



head,body { text-align: center;}/*keep things centrally aligned*/

#InputForm {
    width: 100%;
    padding: 1px;
    border: 1px solid grey; 
    background-image: url(backgd.jpg);
}/*this styles the InputForm. The InputForm receives input from the user, has a solid grey border and a blue background image*/

#DynamicTable {
    font-family: "Times New Roman", Times, serif;
}/*it doesn't matter what I say I am going to lose points here anyway this is a dynamic table*/

table, th, td {
    border: 1px solid grey;
    background-image: url(backgd.jpg);
    font-family: "Times New Roman", Times, serif;
}/*gives a double border to the table*/


