
/*this style sheet has been coded by christopher marinos for the assignment 6 in  Umass Lowell's GUI course*/

body {
text-align: center;
}/*this sets text alignment properties for the body tag*/

head { text-align: center;}/*this does the same for the head*/

#InputForm {
    width: 100%;
    padding: 1px;
    border: 1px solid gray; 
	text-align: left;
	background-image: url(backgd.jpg);
}/*this sets a background for the div. both the input and the dynamic table div are affected by this*/

table, th, td {
   border: 1px solid grey;
}/*gives a double bordeer to the table*/

tr:hover {background-color: #f5f5f5}/*this creates a hover effect in white along any moused over table column*/
